<!-- main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="http://127.0.0.1/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://127.0.0.1/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lora&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='/css/style.css'>
    <title>
       Baton Twirling Competition Entry Form
    </title>
</head>

<body>
<div class="heroimage">
        <div class="hero-text">
            <header class="sticky">
            <nav id="nav-section" >
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='competitions'>Competitions</a></li>
                    <li><a href='events'>Events</a></li>
                    <li><a href='athletes'>Athletes</a></li>
                    <li><a href='teams'>Teams</a></li>
                    <li><a href='divisions'>Divisions</a></li>
                    <li><a href='event-levels'>Event Levels</a></li>
                    <li><a href='athletes-events'>Athletes Events</a></li>
                </ul>
            </nav>
            </header>
        </div>
        {{{body}}}
        <div class="footer">
            <footer>
                <p class="footer-text">&copy; 2022: Amy Mummert &amp; Joel Vrieze. All rights reserved.</p>
            </footer>
        </div>

</body>

</html>