<!-- index.hbs -->

<body>

    <h1 class="headertext">Baton Twirling Competition Entry Form</h1>
					
    <h2 class="header-desc">A relational database development project aimed at providing entry forms for Baton Twirling Competitions</h2>

    

<div id="radio">
   
    <input id="radio" class="radio1" type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    <input id="radio" class="radio1"  type="radio" name="position" />
    
  <main id="carousel">
    <div class="item">
    <h3 class="carousel-font">Competitions</h3>
    <p class="carousel-font"> Records competition details including competition name, date, start time, location name, location address, and location phone. </p> 
    </div>
    <div class="item"><h3 class="carousel-font">Events</h3>
    <p class="carousel-font"> Records the event details for a given event type with division and eventlevel included. Events include, but are not limited to, basic march, military march, parade march, presentation, 2-baton, 3-baton, solo, strut and artistic twirl.
    </p> 
    </div>
    <div class="item"><h3 class="carousel-font">Athletes</h3>
    <p class="carousel-font"> Records details for each athlete in the database including athlete name, athlete address, athlete phone number and date of birth which will determine the athletes age on or before 8/31 of the current year.
    </p> </div>
    <div class="item"><h3 class="carousel-font">Teams</h3>
    <p class="carousel-font"> Records the team details for each team in the database including team name and coach.
    </p> </div>
    <div class="item"><h3 class="carousel-font">Divisions</h3>
    <p class="carousel-font"> Records details for the event and athletes division.
    </p></div>
    <div class="item"><h3 class="carousel-font">Event Levels</h3>
    <p class="carousel-font"> A Category table for event levels. It Records details for each event's level detail in baton twirling. 
    </p></div>
    <div class="item"><h3 class="carousel-font">Athletes Events</h3>
    <p class="carousel-font"> A transition table for athletes and events. It Records details for each athletes event. 
    </p></div>
   
  </main>
</div>
<div>
<h3>Project Details</h3>
<p class="project"> The Baton Twirling Competition Entry Form Database (BTCE) creates an entry form for baton twirling competitions  for approximately 52 competitions per year and hundreds of events. A competition includes events that baton twirling athletes can register for and compete in.  Athletes who enter in a competition can register to enter one or more events within that competition. Events include, but are not limited to, basic march, military march, parade march, presentation, 2-baton, 3-baton, solo, strut and artistic twirl.  The database includes six entity tables, one category table and six relationships between tables.  The tables are Competitions, Events, Teams, Athletes, and Divisions.  The category table is named EventLevels.  The database has one transition table between Events and Athletes, named Athletes_Events.</p>
</div>
<div>
<h3> ERD Diagram </h3>
<img src="/images/Baton Twirling Entry Form ERD.drawio.png" alt="">
</div>
<div>
<h3> Schema </h3>
<img src="/images/Screenshot 2022-11-27 at 17-44-12 projectgroup4_step6_FINAL.pdf" class="schema" alt="">
</div>
<div> 
<h3> Check out more in our PDF Document!</h3>
</div>
<div>
 <h3> <iframe src="/images/projectgroup4_step6_FINAL.pdf" width="100%" height="500px">
    </iframe></h3>
</div>
</body>



