body{
        
    font-family: 'Montserrat', sans-serif;
    color: #DEFFFF;
    font-size: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(184deg, rgba(0,120,143,1) 0%, rgba(6,38,45,1) 89%); 
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
body #radio {    
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    }     
    
  
.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 5px 1rem;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    }
.dropdown {
  color: black;
}
.button-62:not([disabled]):focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
.button-62:not([disabled]):hover {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 7;
    --middle: 4;
    --position: 1;
    pointer-events: none;
    margin-bottom: -75px;
  }
 
div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #80FFF4;
  }
div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #2EA6B7;
  }
div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #2EA6B7;
  }
div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #80FFF4;
  }
div.item:nth-of-type(6) {
    --offset: 6;
    background-color: #ff9770;
  }
div.item:nth-of-type(7) {
    --offset: 7;
    background-color: #2EA6B7;
  }
  
input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: center;
  }
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }
input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
  }
input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
  }
input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
  }

.carousel-font {
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    font-weight: bold;
    
}
img {
   
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    margin: auto;  
}

.carousel-img {
   
    margin: 35px;
    justify-content: center;
    align-items: center;
    
}
header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #00788F;
    opacity: 0.9;
}

.hero-text {
    text-align: center;
    padding: 15px;
}

.headertext {

    font-family: 'Montserrat', sans-serif;
    color: #80FFF4;
    font-size: 50px;
    justify-content: center;
    margin: 65px;
}

.header-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #80FFF4;
    margin-top: -40px;
    margin-bottom: 0px;
    justify-content: center;
}
.project {
  color: black;
  margin-left: 150px;
  margin-right: 150px;
  border: 0px solid #80FFF4;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ff9770;
}

.search-box {
  display: inline-block;
  width: 200px; 
}
a:visited {
    color: #80FFF4;
}

a:hover {
    color:  #DEFFFF;
}

a {
    color: #80FFF4;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;

}

nav, #navmenu, li, ul {
    font-family: 'Montserrat', sans-serif;
    color: #80FFF4;
    font-size: 20px;
    position: relative;
    display: inline-block;
    border: None;
    margin: 5px auto auto auto;
    padding: 10px;
    text-align: center;
    align-content: space-around;
    

}

.sticky {
    background-color: #00788F;
    position: fixed;
    top: 0;
    display: flex;
    flex: 3;
    margin: -15px;
    box-shadow: 0px 1px 1px 1px rgb(0, 0, 0);
}
 
#nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-desc {
    display: flex;
    flex: 1;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    margin: 25px;
    padding-left: 300px;
    padding-right: 300px;
}
.summary-box {
    background-color:  #151F22;
    padding: 25px;
    box-shadow: 2px 2px 4px 2px #3795af;
    border-radius: 25px;
}
h1 {
    font-family:'Arvo', serif;
    color: #80FFF4;
    font-size: 35px;
    text-align: center;
}
h2 {
    font-family:'Arvo', serif;
    color:  #80FFF4;
    font-size: 30px;
    text-align: center;


}
h3 {
    font-family:'Arvo', serif;
    color: #80FFF4;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

p {
    font-family:'Arvo', serif;
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
strong {
    color: #80FFF4;
}

footer {

    font-family:'Arvo', serif;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.footer-text {
    font-size: 15px;
}

.tableone {
      
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #2EA6B7;
    font-size: 15px;
    color:  black;
    text-align: center;
    border-collapse: collapse;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.tableone th tr { 
    
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    
}   

.tableone th td {
    border: 1px solid gray;
    height: 20px;
    width: 160px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
  }

  .tableone tr:hover {
    background-color: #80FFF4;
  }

.addtable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .sectionthree {
    margin: 50px;
  }
  .updatetable {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
.inpbox {
  padding: 10px;
  margin: auto;
  width: 150px;
  height: 35px;  
}
.inpboxlabel {
  text-align: left;
  justify-content: center;
}
.tablethree {
    
    font-size: 20px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 25px;
    
  }
.tablefour {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 100vh;
    

  }
.tablefive {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 75vh;
    

  }
.section-header{
    color:#80FFF4;
}  


.padtop{
    padding-top: 80px;
}

select{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}